#background{width: 100%;
			height: 1000px;
			background-color: #ADD8E6;}

#logo{width: 100%;
	  padding-top:  20px;
	  text-align: center;}

.logo{width: 20%;}

a{color: white;}

p{color: #4a5568;
  width: 100%;
  font-size: .875rem;
  padding-top: 0px;
  font-family: Karla,sans-serif;
  margin-block-end:0px;
  margin-block-start:0px;
  text-align: center;
	}

#main{width: 40%;
	  height: 800px;
	  background-color: white;
	  margin-left: 32.5%;
	  border-radius: 20px;
	  border-bottom-left-radius: 0px;
	  
	}

.header{font-family: U8,sans-serif;
	    font-size: 1.5rem;
    	width: 100%;
    	align-content: center;
    	padding-top: 40px;
    	color: #083e9e;
    	margin-block-end:0px;
    	margin-block-start:0px;
    	box-sizing: 1.6em;
    	text-align: center;
    	}

.form{
	  box-sizing: border-box;
	  padding-top: 20px;
	  }

.field{
	   padding-left: 10px;
	   padding-right: 10px;
	   width: 100%;}

.text{font-size: 12px;
	  font-family: U8,sans-serif;
	  width: 100%;
	  font-weight: 700;
	  color: #4a5568;
	  line-height: 24px;
	  }

.input{
  width: 90%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: .25rem;
  background-color: #edf2f7;
  line-height:24px;
  border: solid #e2e8f0;
  margin-top: 10px;

}

.select{width: 90%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: .25rem;
  background-color: white;
  font-weight: 200;
  font-size: 15px;
  font-family: U8,sans-serif;
  line-height:24px;
  border: solid #e2e8f0;
  margin-top: 10px;

}
.submit{line-height:28px;
		width: 80%;
		padding: 12px;
		border-radius: 15px;
		margin-left: 25px;
		border-bottom-left-radius: 0px;
		background-color: #083e9e;
		margin-top: 30px;

}
.button{
	background:#083e9e;
  	color: white;
  	padding: 15px;
  	padding-right: 20px;
  	padding-left: 150px;
  	text-align: center;
    border-bottom-style: none;
    border-left-style:none;
    border-image-width:0;
	border-right-style:none;
    border-top-style:none;
	font-weight: 700;
	font-size: 15px;
	font-family:U8, sans-serif;
	}
.link{font-size: 15px;
	  text-align: center;}