@media all and (min-width: 992px) {} 


#mainbg {background-color: black;
          width: 100vw;
          height: 100%;}
#frame{background-color: #0a0a0a;
        width: 80%;
        height: 100%;
        margin-left: 10%;
        }
#bgleft{width: 62%;
        height: 90%;
        float: right;
        margin-top: 2%;
        background-color: #3e3b3b;
        }
#bgright{width: 5%;
         height: 90%;
         float: left;
         margin-top: 2%;
        background-color: #3e3b3b;}
#bgcenter{width:33%;
         height: 100%;
         float: right;
         background-color: rgb(218, 186, 203);
        }
.img{float: right;
     height: 100%;
     align-content: center;
     }
#fonts{color: rgb(14, 13, 13);
        background-color: rgb(202, 59, 138);
        height: 5%;
        width: 100%;}
#font{width: 100%;
        height: 5%;
        margin-left: 20%;
        color: rgba(201, 145, 173, 0.568);}
#fon{width: 100%;
      height: 40%;
      color: #3e3b3b ;
}  
p{font-size: 40px;
  color: white;
  margin-left: 10%;
  font-weight: 900;
  margin-block-start: 0em;
  margin-block-end: 0em;
  }      
h5{ color:rgba(202, 59, 138);
    font-style: italic;
    margin-left: 10%;
    margin-block-start: 1em;
    margin-block-end: 0em;
    font-stretch: ultra-expanded;}
h4{color: white;
   font-size: larger;
   float: left;
   font-weight: lighter;
   width: 70%;
   margin-block-start: 1em;
    margin-block-end: 0em;  
}
h2{ color: white;
    font-size:smaller ;
    font-weight: lighter;
    margin-block-start: 1em;
    margin-block-end: 0em; 
    margin-left: 5%;}
h3{font-weight: lighter;
        width: 20%;
        color:rgba(202, 59, 138);
        margin-left: 2%;
        font-style: italic;
        float: left;
        margin-block-start: 1em;
         margin-block-end: 0em;
}
#contact{ margin-top: 40%;
          height: 20%;
          margin-bottom:0px;
}
h1{     font-size: 30px;
        color: white;
        margin-left: 10%;
        font-weight: 900;
    }

.input{
width: 60%;
padding: 6px;
box-sizing: border-box;
border-radius: .25rem;
background-color:rgb(218, 186, 203);
line-height:8px;
margin-left:2%;
margin-bottom: 1%;
}
.input1{
        width: 50%;
        padding: 24px;
        box-sizing: border-box;
        border-radius: .25rem;
        background-color:rgb(218, 186, 203);
        margin-left:2%;
        margin-bottom: 1%;
        }
.send{background-color:rgba(202, 59, 138);
        color: white;
        padding: 8px;
        text-align: center;
      font-weight: 700;
      font-size: 15px;
     }